nav{
  background: rgba(52, 73, 94, 0.8);
  min-height: 35px;
  position: relative;
  .Panel-wrapper{
    display: flex;
    align-items: center;
    .panel-filter{
      display: flex;
      align-items: center;
      &-item{
        color:$white;
        text-transform: uppercase;
        font-size: $menuSize;
        padding:7px 15px;
        &:hover{
          background-color: #34495E;
        }
        @include tablet{
          font-size: 14px;
          padding:7px 5px;
        }
      }
    }
    .panel-search{
      margin-left:auto;
      input{
        width: 135px;
        height: 27px;
        background-image: url(/dist/img/search.svg);
        background-repeat: no-repeat;
        background-position: 4px;
        padding-left: 24px;
      }
    }
  }
}

@include mobile{
  .Panel-wrapper {
    position: absolute;
    height: 0;
    flex-direction: column;
    text-align: center;
    left: 0;
    top: 100%;
    width: 100%;
    color: black;
    background: white;
    overflow: hidden;
    z-index: 2;
    .panel-filter-item{
      color: black !important;
    }
    .panel-filter{
      display: block !important;
    }
    .panel-search{
      margin-top: 10px;
      margin-left:0 !important;
    }
  }
}