.Content{
  background-color: #E5E5E5;
}
.content-wrapper{
  padding-top:55px;
  display: flex;
  justify-content: space-between;
}
.item-wrapper{
  @include mobile{
    width:100%;
  }
  margin-left:10px;
  width:calc(100% - 250px);
  display: flex;
  flex-wrap:wrap;
  align-content: flex-start;
  min-height: 93vh;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &{
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
}

.item{
  padding:15px;
  position: relative;
  width: 16.6%;
  background-color: $white;
  border: 1px solid rgba(52, 73, 94, 0.15);
  @include desktop{
    width: 20%;
  }
  @include desktop-small{
    width:25%;
  }
  @include tablet{
    width:33%;
  }
  @include mobile{
    width:50%;
  }
  .image{
    img{
      display: block;
      max-width:100%;
      margin:0 auto;
    }
  }
  .show-info{
    top: 25%;
    left: 25%;
    position: fixed;
    z-index: 1;
    border:1px solid grey;
    width: 800px;
    background-color: $white;
    @include tablet{
      width:600px;
    }
    @include mobile{
      width:100%;
      left:0;
    }
    .tytle{
      font-weight:bold;
      font-size:18px;
    }
    .show-info-exit{
      background: #aea8a8;
      display: flex;
      justify-content: flex-end;
      padding: 5px;
    }
    .show-info-wrapper{
      display: flex;
    }
    .show-info-added{
      flex-grow: 1;
      padding: 10px;
    }
    .basket{
      margin-top: 16px;
    }
    .option{
      display: flex;
      justify-content: space-between;
      font-size: 20px;
    }
    .show-info-img{
      @include tablet{
        width:200px;
      }
      >img{
        @include tablet{
          width:100%;
        }
      }
    }
    .show-info-price{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price{
        color:$black;
        font-size: 24px;
        font-weight: bold;
      }
    }
    .basket > button{
      @include tablet{
        font-size: 16px;
      }
      outline: none;
      padding: 10px 17px;
      background-color: #F05A28;
      font-size: 18px;
      border: 1px solid #F05A28;
      color: white;
    }
  }
  .title-name{
    color:$black;
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
  }
  .price{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-bottom: 1px solid rgba(133, 150, 166, 0.2);
    padding-bottom: 10px;
    align-items: flex-end;
  }
  .price-number{
    color:$black;
    font-size: $bigtitle;
    font-weight: bold;
  }
  .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    img {
      margin-left: 7px;
    }
    .icon-basket img{
      width:37px;
    }
  }
}

.Filter{
  @include mobile{
    display: none;
  }
  width:250px;
  .filt-title{
    background-color: $titlefilter;
    padding-left: 10px;
    font-weight: bold;
    padding:5px 8px;
  }
  .filt-section{
    .section{
      background-color: $white;
      padding: 5px 9px;
      display: flex;
      align-items: center;
      &:hover{
        cursor:pointer;
      }
    }
    .section-checked{
      width:10px;
      height: 10px;
      border:1px solid grey;
    }
    .section-title{
      margin-left:10px;
    }
  }
  .Filt-block{
    margin-top:12px;
    &:first-child{
      margin-top:0;
    }
  }
  .check{
    background-color:#5050e6;
  }
}