@import "./variabels.scss   ";
@import "./header/header.scss";
@import "./Panel/Panel.scss";
@import "./Content/Content.scss";
@font-face {
    font-family: opensans; /* Имя шрифта */
    src: url(/font/opensanslight.ttf);
}
body{
    margin:0;
    padding:0;
    font-size:14px;
    font-family: opensans;
}

*{
    box-sizing: border-box;
}
.container{
    max-width:1920px;
    width:100%;
    margin: 0 auto;
    padding: 0 40px;
}