header{
  background-color: #FFFFFF;
  padding:10px 0px;
  .header-wrapper{
    display: flex;
    align-items: center;
    .header-navigation {
      display: flex;
       &-item{
         margin-left:60px;
         color:$black;
         text-transform: uppercase;
         font-size:$menuSize;
         &:after{
           content: url(/dist/img/itemAfter.png);
           padding:8px;
         }
       }
    }
    .login-wrapper{
      display: flex;
      margin-left:auto;
      align-items: center;
      .user{
        display: flex;
        align-items: center;
        &-name{
          margin-left:10px;
        }
      }
      .login-basket{
        position: relative;
        & > img{
          width:40px;
          height: 40px;
          margin-left:10px;
        }
      }
    }
  }
  .basket-items{
    width: 500px;
    position: absolute;
    background-color: #f2f2f2;
    right: 0px;
    z-index: 1;
    color:$black;
    font-size:18px;
    padding:5px 10px;
    .basket-item{
      display: flex;
      margin-top:8px;
    }
    .basket-item-img{
      width:100px;
      height:100px;
      & >img{
        max-width: 100%;
      }
    }
  }
}
